<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <h1>Yoo -9</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores
      laboriosam labore quasi, ut quidem quaerat iusto, dolor quo rem maiores
      veniam officiis. Accusantium assumenda laudantium debitis veniam obcaecati
      suscipit? Quae quaerat fuga eius impedit?
    </p>
  </body>
</html>
