<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      * {
        font-size: 25px;
      }
    </style>
  </head>
  <body>
    <h1>List-007</h1>
    <p>
      This are the projects i have worked on
    </p>

    <ul>
      <li>
        <a href="https://krishna300.github.io/app_08/" target="_blank">React</a>
      </li>
      <li>
        <a
          href="https://krishna300.github.io/my_website_static/"
          target="_blank"
          >CSS-Design</a
        >
      </li>
      <li>
        <a href="https://medium.com/@srikrishnachowdary" target="_blank"
          >Medium |Posts</a
        >
      </li>
      <li>
        <a href="http://krishnakondapalli.pythonanywhere.com/" target="_blank"
          >Subscene |Python-anywhere</a
        >
      </li>
      <li><a href="http://srikrishna365.pythonanywhere.com/">Host| Here</a></li>
      <!-- <li><a href="http://srikrishna365.pythonanywhere.com/">Host| Here</a></li> -->
    </ul>
  </body>
</html>
